/* Site Wide */
body {
  font-size:18px;
  line-height: 1.4em;
  font-family: helvetica;
}
.contained {
  max-width: 960px;
  margin: 0 auto;
}
/* Header */
header {
  height: 30em;
  background-image: url('../images/splash.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width:1024px) {
  header {
    height:21em;
  }
}
@media only screen and (max-width:470px) {
  header {
    height:17em;
    background-position: 20%;
  }
}
/* Navbar */
.navbar {
  max-width: 960px;
  margin: 0 auto;
  color:white;
  position: relative;
  top:1em;
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.logo {
  display: flex;
  align-items: center;
}
.navbar img {
  height: 1.5em;
  padding-left: 2em;
  padding-right: 1em;
}
nav ul{
  display: flex;
  padding-right: 1em;
}
li{
  padding: 1em;
}
li a{
  color: white;
  text-decoration: none;
}
#smallNav {
  display: none;
}
@media only screen and (max-width:1024px){
  .navbar {
    max-width: 100%;
    top:0;
  }
}
@media only screen and (max-width:700px) {
  .logo p {
    display: none;
  }
}
@media only screen and (max-width:470px){
  .navbar {
    max-width: 100%;
    top:0;
  }
  #largeNav, .logo p {
    display: none;
  }
  #smallNav {
    display: block;
  }
}
/* TagLine */
.tagLineContainer {
  display: flex;
  justify-content: flex-end;
}
.tagLine {
  position: relative;
  top:10em;
  right: -2em;
  background-color: white;

}
.tagLine p {
  padding: 1.5em 5em;
  font-weight: bold;
  font-size: 2em;
  line-height: 1.2;

}
@media only screen and (max-width:1024px){
  .tagLine {
    top:5em;
    right:2em;
  }
  .tagLine p {
    padding: 0.75em 4em;
    font-size: 1.33em;

  }
}
@media only screen and (max-width:470px){
  .tagLine {
    text-align: center;
    top:9em;
    left:0;
    width: 100%;
  }
  .tagLine p {
    padding: 1em 0;
    font-size:1em;

  }
}
/* Services */
.offerings {
  display:flex;
  justify-content: center;
  padding-top:3em;
  padding-bottom: 3em;
}
.offerWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8em;
  width:5em;
  padding-left: 3em;
  padding-right: 3em;
}
.offTitle {
  text-align: center;
}
#paper {
  max-width: 3.5em;
}
.offHead img {
  max-width: 4.5em
}
@media only screen and (max-width:470px){
 .offerings {
   flex-direction: column;
   align-items: center;
   padding: 3.77em 0;
 }
 .offerWrapper {
   margin-bottom: 1.54em;
   height: 6em;
 }
 .offTitle p {
   font-size: 0.77em;
 }
 #paper {
   max-width: 3em;
 }
}
/* Info */
.info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.philosophy, .appointments {
  width:35%;
}
.philosophy {
  margin-right: 5%;
}
.header {
  width:10em;
  color: white;
  background-color: cadetblue;
  padding: 0.5em 1.25em;
  margin-bottom: 1em;
}
@media only screen and (max-width:470px) {
  .philosophy, .appointments {
    width:100%;
    margin-right: 0;
    margin-bottom: 4em;
  }
  .header {
    width: 100%;
    text-align: center;
  }

}


/* Footer*/
footer {
  background-color: azure;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 960px;
  margin: 5em auto 0 auto;
}
footer img {
  height: 1.5em;
  padding:4em 1em 4em 4em;
}
@media only screen and (max-width:470px) {
  footer {
    justify-content: center;
  }
  footer img {
    padding:4em 0;
  }
  footer p{
    display: none;
  }

}

/*
@media only screen and (max-width:1024px){

}
@media only screen and (max-width:470px){

}
*/
